#set($serviceName = ${methodName.substring(0,1).toUpperCase()} + ${methodName.substring(1)})
package ${packageName};

import io.quarkus.runtime.ShutdownEvent;
import io.quarkus.runtime.StartupEvent;
import org.slf4j.Logger;
import lombok.extern.slf4j.Slf4j;
import org.slf4j.LoggerFactory;
import org.redisson.api.RedissonClient;
import org.redisson.api.listener.MessageListener;
import javax.enterprise.event.Observes;
import javax.inject.Inject;
import javax.enterprise.context.ApplicationScoped;


import com.github.durex.messaging.event.RedisEventTopicHandler;
import static com.github.durex.messaging.api.enums.CodecEnum.${codec};
import $paramType;
import ${packageName}.${serviceName}Listener;

@Slf4j
@ApplicationScoped
public class ${serviceName}Config {

    @Inject
    RedissonClient redisson;
    @Inject
    ${simpleClassName} service;
    void onStart(@Observes StartupEvent event) {
        log.info("starting redisson remote service... ${packageName}.${serviceName}Listener");
        var ${methodName}handler= new RedisEventTopicHandler<$simpleParamType>(redisson,"${topicName}",${codec});
        ${methodName}handler.listen(${simpleParamType}.class, new ${serviceName}Listener(service)).subscribe(
            o -> log.info("Redisson Event Listener ID: {}, subscriber: {}", o,"${subscriber}")
            );
     }

    void onStop(@Observes ShutdownEvent ev) {
        log.info("The application is stopping...");
        redisson.shutdown();
    }
}
