#set($serviceName = ${methodName.substring(0,1).toUpperCase()} + ${methodName.substring(1)})
package ${packageName};

import static lombok.AccessLevel.PRIVATE;

import javax.inject.Inject;

import lombok.AllArgsConstructor;
import lombok.NoArgsConstructor;
import org.redisson.api.listener.MessageListener;
import ${className};
import ${paramType};

@AllArgsConstructor
@NoArgsConstructor(access=PRIVATE)
public class  ${serviceName}Listener  implements MessageListener<${simpleParamType}> {

    ${simpleClassName} service;

    @Override
    public void onMessage(CharSequence channel, ${simpleParamType} msg) {
    service.${methodName}(msg);
    }
}
